.App {
    --header_height: 60px;
    margin: 0;
    box-sizing: border-box;
}

.hw {
    margin-left: 10%;
}

.hwTitle {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
    font-size: 2rem;
}